################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/MetroDigital/FileContentIndex/2bd4fb5f-5ae8-4811-bcd9-e97b00335c00.vsidx
/.vs/MetroDigital/FileContentIndex/5eb36c75-1f0b-4dff-9252-864119256463.vsidx
/.vs/MetroDigital/FileContentIndex/8dcc750a-b5f1-4bd8-ba3c-787dc5c50b84.vsidx
